.community{
    height: 100vh;
    width: 100vw;
    .post{
        /* display: flex; */
        background-color: rgb(24, 24, 24);
        height: 100vh;
        width: 80vw;
        justify-content: center;
        margin-left: 10vw;
    }
    .recent{
        height: 35vh;
        width: 70vw;
        margin-left: 5vw;
        background-color: rgb(255, 255, 255);
    }
    .posty{
        width: 70vw;
        height: 10vh;
        margin-top: 10vh;
        background-color: white;
    }
    .post-button{
        background-color: white;
        height: 10.5vh;
    }
}
@media(max-width: 1500px){
    .community{
      .post{
         width: 70vw;
         margin-left: 15vw; 
      } 
      .recent{
          width: 60vw;
          height: 55vh;
      }
      .posty{
          width: 55vw;
      } 
    }
}
@media(max-width: 800px){
    .community{
      .post{
         width: 75vw;
         margin-left: 15vw; 
      } 
      .recent{
          width: 60vw;
          height: 60vh;
          margin-left: 7.5vw;
      }
      .posty{
          width: 55vw;
      } 
    }
}

