.game{
    width: 100vw;
    height: 100vh;
}
.troops{
    height: 21%;
    /* width: 75%; */
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 75px 15px;
}
#et{
    
}
#mt{
    margin-top: 5%;
}
#cards{
    margin: 2.5%;
}
.troop-flex {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    font-size: small;
    color: white;
    font-size: x-large;
  }
  .trooper-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    image-rendering: optimizeSpeed;
    font-size: small;
  }
  h1{
    background-color: rgb(61, 61, 141);
    color: white;
    font-size: xxx-large;
  }
  /* button{
    background-color: rgb(56, 56, 117);
    color: white;
  } */
  img{
    width: 10vw;
    height: 20vh;
    border-radius: 5%;
    background-color: white;
  }