.logo{
    /* width: 150px; */
    height: 9vh;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-right: 15px;
    height: 10vh;
}
.account{
    background-color: white;
    border-radius: 25%;
    width: 10vh;
    height: 10vh;
    color: rgb(50, 50, 161);
}