.App {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

img {
  width: 100vp;
}
button{
  background-color: rgb(165, 166, 230);
  position: relative;
}
input{
  color: black;
  background-color: rgb(165, 166, 230);
  position: relative;
}
.background{
  z-index: 0;
}
