$font-stack: monospace;
$font-size: xx-large;
$font-size-small: medium;

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font: 100% $font-stack;
  font-size: $font-size;
}

img {
  width: 100vp;
}
button{
  background-color: rgb(165, 166, 230);
  position: relative;
}
input{
  color: black;
  background-color: rgb(165, 166, 230);
  position: relative;
}
.background{
  z-index: 0;
}
