$font-size-small: medium;
$font-size-medium: larger;
$font-size-xsmall: x-small;

.rules{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    .rules-div{
        background-color: white;
        width: 25vw;
        height: 700px;
        box-shadow: 0px 0px 125px 25px;
        margin-left: 7.5vw;
        margin-top: 5vh;
        border-radius: 5%;
        font-weight: 600;
        .para{
            margin-top: 10vh;
            width: 10vw;
            margin-left: 30%;
            font-size: x-large;
        }
    }
    .objectives-div{
        background-color: white;
        width: 25vw;
        height: 700px;
        box-shadow: 0px 0px 125px 25px;
        margin-right: 7.5vw;
        margin-top: 5vh;
        border-radius: 5%;
        font-weight: 600;
        .type{
            margin-top: 7.5vh;
            width: 15vw;
            margin-left: 20%;
            font-size: large;
            align-items: center;
        }
        .card-type{
            margin-top: 2vh;
        }
    }
}

@media(max-width: 1500px){
    .rules{
        font-size: $font-size-small;
        width: 100vw;
        height: 95vh;
        justify-content: space-between;
        .rules-div{
            width: 37vw;
            height: 75vh;
            .para{
              font-size: $font-size-medium;
              margin-top: 7vh;
              margin-left: 35%;  
            }
        }
        .objectives-div{
            width: 37vw;
            height: 75vh;
            .type{
                font-size: $font-size-small;
              margin-top: 5vh;
              margin-left: 30%;
            }
        }
    }
}
@media(max-width: 850px){
    .rules{
        width: 100vw;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: $font-size-xsmall;
        .rules-div{
            width: 70vw;
            height: 45vh;
            margin: 5px 15vw;
            .para{
                margin-top: 7vh;
                margin-left: 35%;
                width: 20vw;  
            }
        }
        .objectives-div{
            width: 70vw;
            height: 45vh;
            margin: 10px 15vw;
            .type{
                margin-top: 5vh;
                margin-left: 25%;
                width: 35vw;
                font-size: $font-size-xsmall;
            }
        }
    }
}
